# ========================================
# DBコンテナデータ
# ========================================
db-data/

# ========================================
# OS 依存ファイル
# ========================================
*.DS_Store
Thumbs.db
